In [5]:
import pandas as pd
s=pd.Series([1000,2000,3000,5000,9000])
s

0    1000
1    2000
2    3000
3    5000
4    9000
dtype: int64

# normalisation

In [6]:
s.min()

1000

In [8]:
s.max()

9000

In [17]:
snorm=(s-s.min())/(s.max()-s.min()) #formula
print(snorm)

0    0.000
1    0.125
2    0.250
3    0.500
4    1.000
dtype: float64

In [15]:
from sklearn.preprocessing import MinMaxScaler,StandardScaler
import pandas as pd
s=pd.Series([1000,2000,3000,5000,9000])
s

0    1000
1    2000
2    3000
3    5000
4    9000
dtype: int64

In [18]:
snorm=MinMaxScaler().fit_transform(s.values.reshape(-1,1)) # Using 
print(snorm)

[[0.   ]
 [0.125]
 [0.25 ]
 [0.5  ]
 [1.   ]]

In [19]:
df=pd.DataFrame({
    "temp":[20,50,34,56],
    "Humidity":[56,21,32,34]
})
df

   temp  Humidity
0    20        56
1    50        21
2    34        32
3    56        34

In [22]:
df.min()

temp        20
Humidity    21
dtype: int64

In [23]:
df.max()

temp        56
Humidity    56
dtype: int64

In [27]:
norm_data=MinMaxScaler().fit_transform(df) # how to normalise data
norm_data

array([[0.        , 1.        ],
       [0.83333333, 0.        ],
       [0.38888889, 0.31428571],
       [1.        , 0.37142857]])

In [29]:
norm_df=pd.DataFrame(norm_data) #converting array into dataframe
norm_df

          0         1
0  0.000000  1.000000
1  0.833333  0.000000
2  0.388889  0.314286
3  1.000000  0.371429

In [31]:
norm_df=pd.DataFrame(norm_data,columns=df.columns) #it gives a column names.
norm_df

       temp  Humidity
0  0.000000  1.000000
1  0.833333  0.000000
2  0.388889  0.314286
3  1.000000  0.371429

# standardization

In [32]:
s=pd.Series([1000,2000,3000,5000,9000])
s

0    1000
1    2000
2    3000
3    5000
4    9000
dtype: int64